* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	overflow-x: hidden;
	color: blanchedalmond;
	background: linear-gradient(to right, #047ceb, #224afc);
	background-image: url('https://res.cloudinary.com/mykb/image/upload/v1573674995/bg1.jpg');
	/* /* background-repeat: no-repeat; */
	background-size: cover;
}

.header .header-info {
	text-align: center;
	margin: 50px auto;
	padding: 0 10px;
}

.header-input {
	display: flex;
	justify-content: center;
	padding: 0 50px;
}

button[type='submit'] {
	padding: 15px 30px;
	background: #007bff;
	color: whitesmoke;
	border-radius: 5px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 20px;
	border-radius: 50px;
}

.header-input input[type='text'] {
	width: 600px;
	height: 55px;
	padding: 5px 10px;
	margin-right: 10px;
	border: none;
	border-radius: 1px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.header-info h1 {
	font-size: 36px;
}

.header-info p {
	font-size: 18px;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	padding: 50px 80px;
}

.details {
	background: url('https://res.cloudinary.com/mykb/image/upload/v1573674995/bg1.jpg');
	background-position: bottom center;
	height: 220px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 30px;
}

.view-map {
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#map {
	height: 100%;
}

.header-details {
	background: rgba(85, 105, 143, 0.294);
	height: 140px;
	justify-content: center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 10px;
}

.header-details img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	align-items: center;
	border-radius: 50%;
}
.header-content-details {
	text-align: center;
	padding: 0 50px;
}

.main-details {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.main-details .info-wind {
	flex-basis: 0;
	flex-grow: 1;
	align-items: center;
	padding: 10px 20px 20px 20px;
}

.main-details .wind-details {
	display: flex;
	padding-top: 5px;
}

.main-details .wind-details h5 {
	margin-top: 5px;
}

.main-details .wind-details .value {
	margin-left: 5px;
}

.main-details .info {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
	align-items: center;
	padding: 20px;
}

.main-details .info-wind .title,
.main-details .info .title {
	font-size: 1rem;
	flex-grow: 1;
	font-weight: bold;
	color: #777;
}

.main-details .info-wind .value,
.main-details .info .value {
	font-size: 1rem;
	margin-top: 5px;
	color: #fff;
}

#temp-display {
	cursor: pointer;
	position: relative;
}

#temp-checkbox {
	display: none;
}

#temp-checkbox + #temp-display:before {
	content: '32 C';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#temp-checkbox:checked ~ #temp-display:after {
	content: '52 F';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.911);
}
@media (min-width: 20rem) and (max-width: 48rem) {
	body {
		background-size: cover;
		height: 100vh;
	}
	.content {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		padding: 20px 30px;
	}
	.header-input input[type='text'] {
		width: 250px;
	}
}

@media (min-width: 48rem) and (max-width: 62rem) {
	body {
		height: 100vh;
	}
	.content {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		padding: 20px 30px;
	}
}
